<template>
      <v-navigation-drawer
      :mini-variant.sync="getmini"
      permanent
      app
      color="grey lighten-4"
    
      class="d-flex flex-column justify-center align-center pt-12"
      width="240"
     
    >
    <div>
    <div >
      <v-list dense v-bind:class="[getmini ? ' pl-3 mt-2' : 'mt-2']">
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          router :to="item.route"
        >
          <v-list-item-icon class="mr-3" >
            <v-icon color="#891a1c">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content class="mr-1">
            <v-list-item-title class="subtitle-2">{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      </div>
      <div>
      <v-list-item class="logo">
        <v-img src="./ganit-logo.png" alt="bitcoin" width="80" height="50" contain v-bind:class="{'d-none pt-3':getmini}"></v-img>
        <!-- <v-list-item-title class="ml-3">Paradise</v-list-item-title> -->
      </v-list-item>
      </div>
      </div>
    </v-navigation-drawer>
</template>
<script>
  export default {
    name:"leftNavbar",
    data () {
      return {
        items: [
          { title: 'Montly Promo Calendar', icon: 'mdi-calendar-edit',route: '/' },
          { title: 'Loyalty Management Tool', icon: 'mdi-toolbox-outline' ,route: '/loyalty'},
        ],
        mini:null,
      }
    },
    computed:{

    getmini(){
      return this.$store.state.mini;
    },
    },
    created () {
      this.initialize()
    },
    methods:{
    initialize () {
        
        this.mini = this.getmini;
        console.log("leftnavbar",this.mini)
      },
    }
  }
</script>
<style scoped>
.logo{
  margin-top:450px;
  margin-bottom: 15px;
}
</style>