<template >
<div>
<div>
  <div v-if="dataReady">
      <v-container fluid >
          <v-row class="d-flex flex-row ml-10 mt-3">        
                <v-col
                class="d-flex"
                cols="2"
                sm="2"
                
            >
                <v-select
                :items="city_segment"
                label="City"
                solo
                item-text="behaviour"
                item-value="city_segment"
                color="#891a1c"
                background-color="grey lighten-3"
                v-model="userSelectedInputData.city_segment"
                ></v-select>
         </v-col>
         <v-col
                class="d-flex "
                cols="2"
                sm="2"
            >
                <v-select
                label='Day'
                :items='day_segment'
                item-value='data_segment'
                solo
                color="#891a1c"
                background-color="grey lighten-3"
                v-model="userSelectedInputData.day_segment"
                return-object
                >
                <template slot='selection' slot-scope='{ item }'>
                    {{ item.behaviour_1 }} - {{ item.behaviour_2 }}
                </template>
                <template slot='item' slot-scope='{ item }'>
                    {{ item.behaviour_1 }} - {{ item.behaviour_2 }}
                </template>
                </v-select>
         </v-col>
         <v-col
                class="d-flex"
                cols="2"
                sm="2"
            >
                <v-select
                label='RFM'
                v-model="userSelectedInputData.rfm_segment"
                :items='rfm_segment'
                item-value='rfm_segment'
                item-text="rfm_segment_name"
                color="#891a1c"
                background-color="grey lighten-3"
                solo
                >
                </v-select>
         </v-col>
         <v-col
                class="d-flex"
                cols="2"
                sm="2"
            >
                <v-select
                :items="pax_segment"
                label="Pax"
                solo
                item-text="pax_segment_value"
                item-value="pax_segment"
                color="#891a1c"
                background-color="grey lighten-3"
                v-model="userSelectedInputData.pax_segment"
                ></v-select>
         </v-col>
         <v-col
                class="d-flex"
                cols="2"
                sm="2"
            >
                <v-select
                label='Special Screen'
                v-model="userSelectedInputData.special_screen_segment"
                :items='special_screen_segment'
                item-value='special_screen_segment'
                color="#891a1c"
                background-color="grey lighten-3"
                solo
                return-object
                >
                <template slot='selection' slot-scope='{ item }'>
                    {{ item.channel }} - {{ item.deal }}
                </template>
                <template slot='item' slot-scope='{ item }'>
                    {{ item.channel }} - {{ item.deal }}
                </template>
                </v-select>
         </v-col>
                <v-col cols="2" sm="2">
                  <!-- <v-btn pa-2 outlined @click="changefilter"> GO </v-btn> -->
                  <v-btn
                    elevation="5"
                    rounded
                    large
                    class="grey lighten-1 ml-5"
                    @click="userSelecteddataFunction"
                    >
                   
                    <v-icon
                    dark
                    large
                    color="#891a1c"
                    >
          mdi-chevron-right
        </v-icon></v-btn>
                </v-col>
              </v-row>
              <v-row class="ml-5 mr-5 mt-5" v-if="tableDataReady">
                <v-col>
                  <v-data-table :headers="headers" :items="tableData" class="elevation-1 grey lighten-5"  
                 > 
                    <template v-slot:item.actions="{ item }">
                      <download-excel :data="filtered_dummmy_data_1">
                        <v-icon @click="actions(item)" color="#891a1c"> mdi-file-download </v-icon>
                      </download-excel>
                    </template>
                    <template v-slot:item.promo="{ item }">
                      <v-select hide-details dense
                         key="id"
                        :items="item.promo"
                        label="Select"
                        outlined
                        v-model="item.selected_promo"
                        @change="actions(item)"
                        background-color="white"
                        ></v-select>
                    </template>
                  </v-data-table>
                </v-col>
              </v-row>
              <v-row v-if="!tableDataReady" class="d-flex flex-column justify-center align-center">
              <div>
                <v-progress-circular
              indeterminate
              color="red"
              text-center
              class="mt-16"
            ></v-progress-circular>
            </div>
            </v-row>
      </v-container>
  </div>
  <div v-if="!dataReady" class="d-flex flex-column justify-center align-center">
        <v-progress-circular
      indeterminate
      color="red"
      text-center
      class="mt-16"
    ></v-progress-circular>
    </div>
  </div>
</div>
</template>
<script>

export default {
  name: "LoyalityTool",
  data: () => ({
      dataReady : false,
      loader: null,
        loading: false,
        loading2: false,
        loading3: false,
        loading4: false,
        loading5: false,
        watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)

        this.loader = null
      },
    },
       names:[
      {id: 1, name: 'Paul', age: 23},
      {id: 2, name: 'Marcelo', age: 15},
      {id: 3, name: 'Any', age: 30},
    ],
    getdata:{},
    city: "",
    new_city:"",
    rfm: "",
    cities: ["Delhi", "Mumbai"],
    rfms: ["1", "2"],
    selectedpromo : "",
    userSelectedInputData:{
        "city_segment":"",
        "day_segment":"",
        "rfm_segment":"",
        "pax_segment":"",
        "special_screen_segment":"",
    },
    city_segment:[],
    day_segment:[],
    pax_segment:[],
    rfm_segment:[],
    tableDataReady:false,
    special_screen_segment:[],
    food_segment:[],
    tableData:[],
    temps: ['Foo', 'Bar', 'Fizz', 'Buzz'],
    headers: [
      {
        text: "Segment",
        align: "center",
        sortable: false,
        value: "food_segment",
        width: '20%',
        height:'10px',
      },
      { text: "Positive Behaviour", align: "center", value: "positive_behaviour" ,width: '20%',},
      { text: "Negative Behaviour", align: "center", value: "negative_behaviour" ,width: '20%',},

      { text: "Customers", align: "center", value: "count" ,width: '20%',},
      { text: "Promo", align: "center", value: "promo" ,width: '30%',},
      { text: "", align: "center", value: "actions" , sortable: false ,width: '5%',},
    ],
    promoList : [
        {
        id:1,
        promo:"Mutton Biryani Offer",
        },
        {
        id:2,
        promo:"20% of on Kebabas",
        },
        {
        id:3,
        promo:"Get Gulan Jamun free on purchase of Rs50"
        }
        ],
    dummmy_data: [
      {
        city: "Delhi",
        rfm: "1",
        segment: "1",
        promo: "1",
        promo_descp: "Mutton Biryani Offer",
        positive_behaviour:"temp",
        negative_behaviour:"tempasjf",
        promo_start_date: "2021-06-04",
        promo_end_date: "2021-06-05",
        customer_count: 21,
        promoList : [{
        id:1,
        promo:"Mutton Biryani Offer",
        },
        {
        id:2,
        promo:"20% of on Kebabas",
        },
        {
        id:3,
        promo:"Get Gulan Jamun free on purchase of Rs50"
        }],
      },
      {
        city: "Mumbai",
        rfm: "1",
        segment: "2",
        promo: "2",
        promo_descp: "20% off on Kebabs",
        positive_behaviour:"temp",
        negative_behaviour:"tempasjf",
        promo_start_date: "2021-06-14",
        promo_end_date: "2021-06-15",
        customer_count: 21,
        promoList : [{
        id:1,
        promo:"Mutton Biryani Offer",
        },
        {
        id:2,
        promo:"20% of on Kebabas",
        },
        {
        id:3,
        promo:"Get Gulan Jamun free on purchase of Rs50"
        }],
      },
      {
        city: "Delhi",
        rfm: "2",
        segment: "1",
        promo: "1",
        promo_descp: "Mutton Biryani Offer",
        positive_behaviour:"temp",
        negative_behaviour:"tempasjf",
        promo_start_date: "2021-06-08",
        promo_end_date: "2021-06-10",
        customer_count: 21,
        promoList : [{
        id:1,
        promo:"Mutton Biryani Offer",
        },
        {
        id:2,
        promo:"20% of on Kebabas",
        },
        {
        id:3,
        promo:"Get Gulan Jamun free on purchase of Rs50"
        }],
      },
      {
        city: "Mumbai",
        rfm: "2",
        segment: "2",
        promo: "2",
        promo_descp: "20% off on Kebabs",
        positive_behaviour:"temp",
        negative_behaviour:"tempasjf",
        promo_start_date: "2021-06-07",
        promo_end_date: "2021-06-07",
        customer_count: 21,
        promoList : [{
        id:1,
        promo:"Mutton Biryani Offer",
        },
        {
        id:2,
        promo:"20% of on Kebabas",
        },
        {
        id:3,
        promo:"Get Gulan Jamun free on purchase of Rs50"
        }],
      },
    ],
   filtered_dummy_data : [],
   
  }),
  computed: {
      getJwt(){
      return this.$cookies.get("JwtToken");
    },
    filtered_dummmy_data() {
      return this.dummmy_data.filter(
          (record) => {
        return record.city.toLowerCase().includes(this.new_city.toLowerCase());
      }
      );
    },
    filtered_dummmy_data_1() {
        let data = this.ExceldataFetch();
        return data
    },
  },
    async mounted(){
      this.pagename();
      await this.fetchMainData();
      this.dataReady = true;
      
      
    //   let day_segment = loaddata.city_segment;
    //   let pax_segment = loaddata.pax_segment;
    //   let rfm_segment = loaddata.rfm_segment;
    //   let pecial_screen_segment = loaddata.special_screen_segment;
        
  },
  methods: {
    routing(){
      this.$router.push('/login');
    },
    pagename:function(){
      this.$store.dispatch('pagename',"Loyalty Management Tool");
    },
    changefilter(){
        this.new_city = this.city;
    },

    actions(item) {
        console.log(this.SelectedPromo);
        console.log(item)
    },
    fetchMainData(){
        const url = "http://127.0.0.1:8000/get-segments/";
            let options = {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                    Authorization: "Bearer "+this.getJwt,
                },
                };

            const doNetworkCall = async () => {
            try {
                const response = await fetch(url,options);
                if(response.status>=400){
                    console.log("error")
                }
                else{
                    const jsonData = await response.json();
                    console.log("******",jsonData,"********");
                    this.getdata = jsonData;
                    console.log(this.getdata);
                      this.day_segment = this.getdata.day_segment;
                      this.pax_segment = this.getdata.pax_segment;
                      this.rfm_segment = this.getdata.rfm_segment;
                      this.special_screen_segment = this.getdata.special_screen_segment;
                      this.city_segment = this.getdata.city_segment;
                      this.tableData = this.getdata.food_segment;
                      this.tableDataReady = true;

                    return jsonData;
                }
                
                
                //this.updateJwtLogin(jsonData.access);
            } catch (error) {
                console.log(error);
            }
            };
            doNetworkCall();
    },
    userSelecteddataFunction(){
      this.tableDataReady = false;
        // console.log(this.userSelectedInputData);
        // console.log(this.userSelectedInputData.day_segment.day_segment);
        // console.log(this.userSelectedInputData.special_screen_segment.special_screen);
            let postData={
                day_segment:this.userSelectedInputData.day_segment.day_segment,
                rfm_segment:this.userSelectedInputData.rfm_segment,
                city_segment: this.userSelectedInputData.city_segment,
                special_screen: this.userSelectedInputData.special_screen_segment.special_screen,
                pax_segment: this.userSelectedInputData.pax_segment,
                // day_segment:1,
                // rfm_segment:2,
                // city_segment: 1,
                // special_screen: 0,
                // pax_segment: 0,
            };
            const url = "http://127.0.0.1:8000/get-food-segment-info/";
            let options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                    Authorization: "Bearer "+this.getJwt,
                },
                body: JSON.stringify(postData)
                };

            const doNetworkCall = async () => {
            try {
                console.log(options.body);
                const response = await fetch(url,options);
                if(response.status>=400){
                    console.log("error")
                }
                else{
                    const jsonData = await response.json();
                    console.log(jsonData);
                    this.tableData = jsonData.segments;
                    this.tableDataReady = true;

                }
                
                
                //this.updateJwtLogin(jsonData.access);
            } catch (error) {
                console.log(error);
            }
            };
            doNetworkCall();
            
            },
    ExceldataFetch(){
        // console.log(this.userSelectedInputData);
        // console.log(this.userSelectedInputData.day_segment.day_segment);
        // console.log(this.userSelectedInputData.special_screen_segment.special_screen);
            let postData={
                // day_segment:this.userSelectedInputData.day_segment.day_segment,
                // rfm_segment:this.userSelectedInputData.rfm_segment,
                // city_segment: this.userSelectedInputData.city_segment,
                // special_screen: this.userSelectedInputData.special_screen_segment.special_screen,
                // pax_segment: this.userSelectedInputData.pax_segment,
                day_segment:1,
                rfm_segment:2,
                city_segment: 1,
                special_screen: 0,
                pax_segment: 0,
                "promos": [
                        {
                            "promo_name": this.SelectedPromo
                            
                        }
                    ]

            };
            const url = "http://127.0.0.1:8000/get-segment-data/";
            let options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                    Authorization: "Bearer "+this.getJwt,
                },
                body: JSON.stringify(postData)
                };

            const doNetworkCall = async () => {
            try {
                const response = await fetch(url,options);
                if(response.status>=400){
                    console.log("error")
                }
                else{
                    const jsonData = await response.json();
                    console.log(jsonData);
                    return jsonData.segments;
                }
                
                
                //this.updateJwtLogin(jsonData.access);
            } catch (error) {
                console.log(error);
            }
            };
            doNetworkCall();
            
            }
  },
 
};
</script>
<style scoped>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

