<template>
  <div>
    <Navbar />
    <leftNavbar/>
    <LoyalityTool/>
    </div>
</template>
<script>
import LoyalityTool from '../components/LoyalityManagementTool/LoyalityManagementTool.vue'
import Navbar from '../components/Navbar/Navbar.vue'
import leftNavbar from '../components/LeftNavbar/leftNavbar.vue'
export default {
  name:"Loyality",
  components:{
      LoyalityTool,
      Navbar,
      leftNavbar,
  }
}
</script>
