<template>
<div>
    <Navbar />
    <leftNavbar/>
    <MonthlyPromoCal/>
</div>
</template>
<script>
import MonthlyPromoCal from '../components/MonthlyPromoCalender/MonthlyPromoCalender.vue'
import Navbar from '../components/Navbar/Navbar.vue'
import leftNavbar from '../components/LeftNavbar/leftNavbar.vue'
export default {
  name:"Promocal",
  components:{
      MonthlyPromoCal,
      Navbar,
      leftNavbar,
  }
}
</script>
