<template>
    <v-app-bar app depressed color="#891a1c" class="white--text">
      <v-app-bar-nav-icon @click="updatemini" color="white"></v-app-bar-nav-icon>

      <v-toolbar-title class="mb-4 mt-2 "><v-img src="./Paradise_Logo_White.svg" alt="bitcoin" width="200" height="100" contain class="p-3"></v-img></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title class="toolname">{{this.$store.state.page_name.name}}</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon class="white--text" @click="logout">mdi-export</v-icon>
      </v-btn>
    </v-app-bar>
</template>

<script>
  export default {
    name:"Navbar",
    data () {
      return {
        items: [
          { title: 'Home', icon: 'mdi-home-city' },
          { title: 'My Account', icon: 'mdi-account' },
          { title: 'Users', icon: 'mdi-account-group-outline' },
        ],
        mini: null,
      }
    },
    computed:{

    getmini(){
      return this.$store.state.mini;
    },
    },
    created () {
      this.initialize()
    },
    methods:{
      initialize () {
        this.mini = this.getmini;
      },
      pagename: function (name) {
      this.$store.dispatch("pagename", name);
    },
      updatemini:function(){
      this.mini=!this.mini;
      this.$store.dispatch('updatemini',this.mini);
    },
    logout(){
      this.$cookies.set("JwtToken", "", 60*60*1, {
                      httpOnly: true,
                    })
                    this.$router.push('/login');
    },
    },
  }
</script>
<style scoped>
.toolname{
  margin-right: 160px;
}
</style>