<template>
  <v-main min-height="100vh" color="white" app flat>
          <v-card
          depressed
          min-height="100vh"
            width="100%"  
            v-bind:class="[getmini ? 'grey lighten-4 d-flex flex-row justify-space-between pr-5' : '', 'grey lighten-4 d-flex flex-row justify-space-between pr-2 mr-5']"   >
          </v-card>
  </v-main>
  
</template>
<script>
//import rightNavbar from "../RightNavbar/rightNavbar.vue";
import LoyalityTool from '../LoyalityManagementTool/LoyalityManagementTool.vue'

export default {
  name: "dashboard",
  data:()=>({
    mini:null,
    islogin:null,
  }),
  components: {
    LoyalityTool,
  },
  computed:{

    getmini(){
      console.log("getmini")
      return !this.$store.state.mini;
    },
    getislogin(){
      return !this.$store.state.islogin;
    }
    },
   created () {
      this.initialize()
    },
    methods:{
    initialize () {
        this.mini=this.getmini;
        this.islogin = this.getislogin;
      },
    }
};
</script>