<template>
<div>
  <div>
    <div  v-if="dataReady">
    <v-container fluid>
      <v-row>
        <v-col v-bind:class="[getmini ? ' mr-6 ml-n2' : 'mr-1']">
          <v-row  >
            <v-col>
              <v-sheet>
                <v-toolbar class="grey lighten-1 mt-10 ml-2" color="white--text" width="545"> 
                  <v-btn
                    outlined
                    class="mr-4 white"
                    color="grey darken-2"
                    @click="setToday"
                  >
                    Today
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn fab text small color="white" @click="prev">
                    <v-icon small> mdi-chevron-left </v-icon>
                  </v-btn>
                  
                  <v-btn fab text small color="white" @click="next">
                    <v-icon small> mdi-chevron-right </v-icon>
                  </v-btn>
                  <v-toolbar-title v-if="$refs.calendar" dark class="ml-3">
                    {{ $refs.calendar.title }}
                  </v-toolbar-title>
                  
                </v-toolbar>
              </v-sheet>
              <v-sheet height='400' width="545" class="ml-2">
                <v-calendar
                  ref="calendar"
                  v-model="focus"
                  color="primary"
                  :events="updateEvents"
                  :event-color="getEventColor"
                  :type="type"
                  @click:event="showEvent"
                  @click:more="viewDay"
                  @click:date="viewDay"
                  @change="updateRange"
                ></v-calendar>
                <v-menu
                  v-model="selectedOpen"
                  :close-on-content-click="false"
                  :activator="selectedElement"
                  offset-x
                >
                  <v-card color="grey lighten-4" min-width="350px" flat>
                    <v-toolbar :color="selectedEvent.color" dark class="red">
                      <v-btn icon>
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>
                      <v-toolbar-title
                        v-html="selectedEvent.name"
                      ></v-toolbar-title>
                      <v-spacer></v-spacer>
                      <v-btn icon>
                        <v-icon>mdi-heart</v-icon>
                      </v-btn>
                      <v-btn icon>
                        <v-icon>mdi-dots-vertical</v-icon>
                      </v-btn>
                    </v-toolbar>
                    <v-card-text>
                      <span v-html="selectedEvent.details"></span>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn
                        text
                        color="secondary"
                        @click="selectedOpen = false"
                      >
                        Cancel
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-menu>
              </v-sheet>
            </v-col>
          </v-row>
        </v-col>
        <v-col v-bind:class="[getmini ? ' ml-4' : 'mr-1']">
          <div>
        <v-row class="d-flex flex-row mt-7 ml-n16">
              <v-col md="3">
            <v-select
                :items="city_segment"
                label="City"
                solo
                item-text="behaviour"
                item-value="city_segment"
                color="#891a1c"
                background-color="grey lighten-3"
                v-model="userSelectedInputData.city_segment"
                ></v-select>
            </v-col>
            <v-col md="4">
            <v-select
                label='Food'
                v-model="userSelectedInputData.food_segment"
                :items='food_segment'
                item-value='food_segment'
                color="#891a1c"
                background-color="grey lighten-3"
                solo
                return-object
                >
                <template slot='selection' slot-scope='{ item }'>
                    {{ item.positive_behaviour }} - {{ item.negative_behaviour }}
                </template>
                <template slot='item' slot-scope='{ item }'>
                    {{ item.positive_behaviour }} - {{ item.negative_behaviour }}
                </template>
                </v-select></v-col>
            <v-col md="3">
            <v-select
                :items="rfm_segment"
                label="RFM"
                solo
                item-text="rfm_segment_name"
                item-value="rfm_segment"
                color="#891a1c"
                background-color="grey lighten-3"
                v-model="userSelectedInputData.rfm_segment"
                ></v-select></v-col>
            <v-col md="2" class="ml-n4">
                  <!-- <v-btn pa-2 outlined @click="changefilter"> GO </v-btn> -->
                  <v-btn
                    elevation="5"
                    rounded
                    color="grey lighten-1"
                    class="ml-2"
                    large
                    @click="ChecktheData"
                    >
                   
                    <v-icon
                    dark
                    large
                    color="#891a1c"
                    >
          mdi-chevron-right
        </v-icon></v-btn>
                </v-col>
            </v-row>
            <div  >
            <v-row class="mr-10 mt-6 ml-n16" > 
              <v-col cols="6" align=left class="mt-5 mb-n4" v-if="customers!=0">
                  <h1 class="caption ml-2 ">No.of Customers : {{this.customers}}</h1>
              </v-col>
              <v-spacer/>
              
              
              <v-col align=right>
              <v-btn @click="openModal" class="grey lighten-1" ><v-icon
          dark
          color="#891a1c"
        >
          mdi-table-plus
        </v-icon></v-btn>
              
              <v-dialog v-model="showDialog" width="500">
                <v-card>
                  <v-card-title class="headline">Promo Details</v-card-title>
                  <v-card-text>
                    <v-form v-model="valid" ref="form" lazy-validation>
                    <v-text-field label="Promo" v-model="new_promo.promo" :rules="[v => !!v || 'Promo Description is required']" required></v-text-field>
                    <v-text-field  label="Promo Description" v-model="new_promo.promo_desc" :rules="[v => !!v || 'Promo Description is required']" required></v-text-field>
                    <v-text-field type="date" label="Trigger Date" v-model="new_promo.promo_trigger_date" :rules="[v => !!v || 'Promo Triggered Date is required']" required></v-text-field>
                    <v-text-field type="date" label="Start Date" v-model="new_promo.promo_start_date" :rules="[v => !!v || 'Promo Start Date is required']" required></v-text-field>
                    <v-text-field type="date" label="End Date"  v-model="new_promo.promo_end_date" :rules="[v => !!v || 'Promo End Date is required']" required></v-text-field>
                    </v-form>
                    
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="savePromo">Save</v-btn>
                    <v-btn color="green darken-1" text @click="clearPromo">Close</v-btn>
                  </v-card-actions>
                </v-card>
                </v-dialog>
              </v-col>
              <v-col cols='1' class="mr-5" v-if="tableDataReady" >
            <download-excel :data="filtered_dummmy_data">
              <v-btn class="grey lighten-1"><v-icon
          dark
          color="#891a1c"
        >
          mdi-file-download
        </v-icon></v-btn>
            </download-excel>
              </v-col>
            </v-row>
            </div>
            <v-row  class="ml-n16" >
          <v-col class="mr-4" align="right">
            <v-data-table :headers="headers" :items="tableData" class="elevation-1 grey lighten-5 mr-4">
              <template v-slot:item.promo_desc="props">
                <v-edit-dialog
                  :return-value.sync="props.item.promo_desc"
                  @save="save"
                  @cancel="cancel"
                  @open="open"
                  @close="close"
                >
                  {{ props.item.promo_descp }}
                  <template v-slot:input>
                    <v-text-field
                      v-model="props.item.promo_descp"
                      :rules="[max25chars]"
                      label="Edit"
                      single-line
                      counter
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
              </template>
              <template v-slot:item.promo_trigger_date="props">
                <v-edit-dialog
                  :return-value.sync="props.item.promo_trigger_date"
                  large
                  persistent

                  @save="save(props.item)"
                  @cancel="cancel"
                  @open="open"
                  @close="close"
                >
                  <div>{{ props.item.promo_trigger_date }}</div>
                  <template v-slot:input>
                    <div class="mt-4 text-h6">Update Promo Trigger Date</div>
                    <v-text-field
                      v-model="props.item.promo_tigger_date"
                      label="Edit"
                      type="date" 
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
              </template>
              <template v-slot:item.promo_start_date="props">
                <v-edit-dialog
                  :return-value.sync="props.item.promo_start_date"
                  large
                  persistent
                  @save="save"
                  @cancel="cancel"
                  @open="open"
                  @close="close"
                >
                  <div>{{ props.item.promo_start_date }}</div>
                  <template v-slot:input>
                    <div class="mt-4 text-h6">Update Promo Start Date</div>
                    <v-text-field
                      v-model="props.item.promo_start_date"
                      label="Edit"
                      type="date" 
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
              </template>
              <template v-slot:item.promo_end_date="props">
                <v-edit-dialog
                  :return-value.sync="props.item.promo_end_date"
                  large
                  persistent
                  @save="save"
                  @cancel="cancel"
                  @open="open"
                  @close="close"
                >
                  <div>{{ props.item.promo_end_date }}</div>
                  <template v-slot:input>
                    <div class="mt-4 text-h6">Update Promo End Date</div>
                    <v-text-field
                      v-model="props.item.promo_end_date"
                      label="Edit"
                      type="date" 
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
              </template>
               
            </v-data-table>
            <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-icon
          small
          color="#891a1c"
          v-bind="attrs"
          v-on="on"
          class="mr-4"
        >
          mdi-comment-alert-outline
        </v-icon>
      </template>
      <span>you can edit the column by clicking on that column</span>
    </v-tooltip>
            </v-col>
            </v-row>
            <div v-if="tableData.length<=0">
              <h1 class="caption mt-2 text-center">Add a new Promo or Update the filters</h1>
            </div>
            <v-row  class="d-flex flex-column justify-center align-center mt-10">
              <div  v-bind:class="[showLoader ? 'd-flex flex-column justify-center align-center' :'d-none']">
                <v-progress-circular
              indeterminate
              color="red"
              text-center
              class="mt-16"
            ></v-progress-circular>
            </div>
            <div v-if="!showLoader">
              
            </div>
            </v-row>
            <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
              {{ snackText }}

              <template v-slot:action="{ attrs }">
                <v-btn v-bind="attrs" text @click="snack = false">
                  Close
                </v-btn>
              </template>
            </v-snackbar>
          </div></v-col
        >
      </v-row>
    </v-container>
    </div>
    <div v-if="!dataReady" class="d-flex flex-column justify-center align-center">

        <v-progress-circular
      indeterminate
      color="red"
      text-center
      class="mt-16"
    ></v-progress-circular>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "MonthlyPromoCal",
  components: {
  },
  data: () => ({
    showDialog: false,
    dataReady:false,
    mini:false,
    getdata:{},
    showLoader:false,
    tableData:[],
    isLogin:false,
    city_segment:[],
    rfm_segment:[],
    food_segment:[],
    jwt_token:"",
    customers:0,
    valid: true,
    new_promo : {
      city : '',
      promo_desc: '',
      promo_trigger_date:'',
      promo_start_date: '',
      promo_end_date: '',
    },
    tableDataReady:false,
  userSelectedInputData:{
  city_segment:"",
  food_segment:"",
  rfm_segment:"",
                          },
    focus: "",
    city: "",
    segment: "",
    rfm : "",
    type: "month",
    typeToLabel: {
      month: "Month",
      week: "Week",
      day: "Day",
      "4day": "4 Days",
    },
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    
    snack: false,
    snackColor: "",
    snackText: "",
    max25chars: (v) => v.length <= 25 || "Input too long!",
    pagination: {},
    cities: ["Delhi", "Mumbai"],
     segments: ["1", "2"],
      rfms: ["1", "2"],
    headers: [
      {
        text: "Promo Campaign",
        align: "center",
        sortable: false,
        value: "promo",

      },
      { text: "Trigger Date", align: "center", value: "promo_trigger_date" },
      { text: "Start Date", align: "center", value: "promo_start_date" },
      { text: "End Date", align: "center", value: "promo_end_date" },
    ],
    dummmy_data: [
      {
        city: "Delhi",
        rfm: "1",
        segment: "1",
        promo: "1",
        promo_descp: "Mutton Biryani Offer",
        promo_trigger_date:"2021-06-05",
        promo_start_date: "2021-06-04",
        promo_end_date: "2021-06-05",
      },
      {
        city: "Delhi",
        rfm: "1",
        segment: "1",
        promo: "1",
        promo_descp: "Mutton Biryani Offer",
        promo_trigger_date:"2021-06-05",
        promo_start_date: "2021-06-04",
        promo_end_date: "2021-06-05",
      },
      {
        city: "Mumbai",
        rfm: "1",
        segment: "2",
        promo: "2",
        promo_descp: "20% off on Kebabs",
        promo_trigger_date:"2021-06-05",
        promo_start_date: "2021-06-14",
        promo_end_date: "2021-06-15",
      },
      {
        city: "Delhi",
        rfm: "2",
        segment: "1",
        promo: "1",
        promo_descp: "Mutton Biryani Offer",
        promo_trigger_date:"2021-06-05",
        promo_start_date: "2021-06-08",
        promo_end_date: "2021-06-10",
      },
      {
        city: "Mumbai",
        rfm: "2",
        segment: "2",
        promo: "2",
        promo_descp: "20% off on Kebabs",
        promo_trigger_date:"2021-06-05",
        promo_start_date: "2021-06-07",
        promo_end_date: "2021-06-07",
      },
    ],
  }),
  computed: {
    // checklogin(){
    //   if(this.$store.state.JWTtoken == true){
    //   this.islogin = true
    //   }
    // },
    getJwt(){
      
       return this.$cookies.get("JwtToken");
      
    },
     getmini(){
      console.log("getmini")
      return !this.$store.state.mini;
    },
    filtered_dummmy_data() {
      return this.dummmy_data.filter((record) => {
        return record.city.toLowerCase().includes(this.city.toLowerCase());
      });
    },
    updateEvents() {
    let a = []

    this.tableData.forEach((f) => {
      if (f.promo_start_date) {
      a.push({
        color: "blue",
        end: f.promo_end_date,
        name: f.promo_desc,
        start: f.promo_start_date,
        timed: true,
      })
      }
    })
  return a
  },
  
  },
  mounted() {
    //this.$refs.calendar.checkChange();
    //let myVar = setInterval(this.checklogin, 500);
    this.isLogin = this.$cookies.get("islogin");
    console.log(this.isLogin);
    this.pagename();
    this.fetchMainData();
    this.dataReady = true;

  },
  methods: {
    routing(){
      this.$router.push('/login');
    },
    initialize () {
        this.mini=this.getmini;
      },
    pagename:function(){
      this.$store.dispatch('pagename',"Monthly Promo Calender");
    },
    fetchMainData(){
        const url = "http://127.0.0.1:8000/get-segments/";
            let options = {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                    Authorization: "Bearer "+this.getJwt,
                },
                };

            const doNetworkCall = async () => {
            try {
                const response = await fetch(url,options);
                if(response.status>=400){
                    console.log("error")
                }
                else{
                    const jsonData = await response.json();
                    console.log("******",jsonData,"********");
                    this.getdata = jsonData;
                    console.log(this.getdata);
                      this.food_segment = this.getdata.food_segment;
                      this.rfm_segment = this.getdata.rfm_segment;
                      this.city_segment = this.getdata.city_segment;
                      console.log("-----",this.food_segment,"----------------");
                    return jsonData;
                }
                
                
                //this.updateJwtLogin(jsonData.access);
            } catch (error) {
                console.log(error);
            }
            };
            doNetworkCall();
    },
    viewDay({ date }) {
      this.focus = date;
      if (this.type == "day") {
        this.type = "month";
      } else {
        this.type = "day";
      }
    },
    savePromo(){
      if (this.$refs.form.validate()) {
        if(this.showDialog==true){
      console.log("----",this.new_promo);
      this.tableData.push(this.new_promo);
      //push the data
      this.PuttheData(this.new_promo)
    } 
      this.new_promo = {
      promo:"",
      promo_desc: '',
      promo_trigger_date:'',
      promo_start_date: '',
      promo_end_date: '',
    }
    
      this.showDialog = false;
      }
    },
    clearPromo(){
      this.showDialog = false;
      this.$refs.form.reset()
    },
    openModal() {
      this.showDialog = true; 
    },
    
    changecity(city) {
      console.log(city);
      this.city = city;
    },
    changesegment(segment) {
      console.log(segment);
      this.segment = segment;
    },
    changerfm(rfm) {
      console.log(rfm);
      this.rfm = rfm;
    },
    getEventColor(event) {
      return event.color;
    },
    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event;
        this.selectedElement = nativeEvent.target;
        requestAnimationFrame(() =>
          requestAnimationFrame(() => (this.selectedOpen = true))
        );
      };

      if (this.selectedOpen) {
        this.selectedOpen = false;
        requestAnimationFrame(() => requestAnimationFrame(() => open()));
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    },
    updateRange({ start, end }) {
      console.log("update the month or day", start, end);
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
    save(data) {
      console.log(data);
      this.snack = true;
      this.snackColor = "success";
      this.snackText = "Data saved";
    },
    cancel() {
      this.snack = true;
      this.snackColor = "error";
      this.snackText = "Canceled";
    },
    open() {
      this.snack = true;
      this.snackColor = "info";
      this.snackText = "Dialog opened";
    },
    close() {
      console.log("Dialog closed");
    },
    ChecktheData(){
        // console.log(this.userSelectedInputData);
        // console.log(this.userSelectedInputData.day_segment.day_segment);
        // console.log(this.userSelectedInputData.special_screen_segment.special_screen);
        this.showLoader = true;
            let postData={
                // day_segment:this.userSelectedInputData.day_segment.day_segment,
               
                city_segment: this.userSelectedInputData.city_segment,
                food_segment:this.userSelectedInputData.food_segment.food_segment,
                rfm_segment:this.userSelectedInputData.rfm_segment,
                // special_screen: this.userSelectedInputData.special_screen_segment.special_screen,
                // pax_segment: this.userSelectedInputData.pax_segment,

                // city_segment: 1,
                //  rfm_segment:2,
                // pax_segment: 0,
            };
            console.log(postData);
            const url = "http://127.0.0.1:8000/promo/";
            let options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                    Authorization: "Bearer "+this.getJwt,
                },
                body: JSON.stringify(postData)
                };

            const doNetworkCall = async () => {
            try {
                console.log(options.body);
                const response = await fetch(url,options);
                if(response.status>=400){
                    console.log("error")
                }
                else{
                    const jsonData = await response.json();
                    console.log("secodn disadf ",jsonData);
                    this.customers = jsonData.promos.data_count;
                    this.tableData = jsonData.promos.promo_details;
                    this.tableDataReady= true;
                    this.showLoader = false;
                }
                
                
                //this.updateJwtLogin(jsonData.access);
            } catch (error) {
                console.log(error);
            }
            };
            doNetworkCall();
            
            },
    PuttheData(data){
        // console.log(this.userSelectedInputData);
        // console.log(this.userSelectedInputData.day_segment.day_segment);
        // console.log(this.userSelectedInputData.special_screen_segment.special_screen);
            let postData={
                // day_segment:this.userSelectedInputData.day_segment.day_segment,
               
                city_segment: this.userSelectedInputData.city_segment,
                food_segment:this.userSelectedInputData.food_segment.food_segment,
                rfm_segment:this.userSelectedInputData.rfm_segment,
                promo: data.promo,
                promo_desc: data.promo_desc,
                promo_start_date: data.promo_start_date,
                promo_end_date: data.promo_end_date,
                promo_trigger_date: data.promo_trigger_date,

                // special_screen: this.userSelectedInputData.special_screen_segment.special_screen,
                // pax_segment: this.userSelectedInputData.pax_segment,

                // city_segment: 1,
                //  rfm_segment:2,
                // pax_segment: 0,
            };
            console.log(postData);
            const url = "http://127.0.0.1:8000/promo/";
            let options = {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                    Authorization: "Bearer "+this.getJwt,
                },
                body: JSON.stringify(postData)
                };

            const doNetworkCall = async () => {
            try {
                console.log(options.body);
                const response = await fetch(url,options);
                if(response.status>=400){
                    console.log("error")
                }
                else{
                    const jsonData = await response.json();
                    console.log("table updated",jsonData);
                }
                
                
                //this.updateJwtLogin(jsonData.access);
            } catch (error) {
                console.log(error);
            }
            };
            doNetworkCall();
            
            },
    UpdatetheData(data){
        // console.log(this.userSelectedInputData);
        // console.log(this.userSelectedInputData.day_segment.day_segment);
        // console.log(this.userSelectedInputData.special_screen_segment.special_screen);
            let postData={
                // day_segment:this.userSelectedInputData.day_segment.day_segment,
                id:"",
                city_segment: this.userSelectedInputData.city_segment,
                food_segment:this.userSelectedInputData.food_segment.food_segment,
                rfm_segment:this.userSelectedInputData.rfm_segment,
                promo: data.promo,
                promo_desc: data.promo_desc,
                promo_start_date: data.promo_start_date,
                promo_end_date: data.promo_end_date,
                promo_trigger_date: data.promo_trigger_date,

                // special_screen: this.userSelectedInputData.special_screen_segment.special_screen,
                // pax_segment: this.userSelectedInputData.pax_segment,

                // city_segment: 1,
                //  rfm_segment:2,
                // pax_segment: 0,
            };
            console.log(postData);
            const url = "http://127.0.0.1:8000/promo/";
            let options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                    Authorization: "Bearer "+this.getJwt,
                },
                body: JSON.stringify(postData)
                };

            const doNetworkCall = async () => {
            try {
                console.log(options.body);
                const response = await fetch(url,options);
                if(response.status>=400){
                    console.log("error")
                }
                else{
                    const jsonData = await response.json();
                    console.log("table changeddated",jsonData);
                }
                
                
                //this.updateJwtLogin(jsonData.access);
            } catch (error) {
                console.log(error);
            }
            };
            doNetworkCall();
            
            },


  },
  downloadExcelData(){
        // console.log(this.userSelectedInputData);
        // console.log(this.userSelectedInputData.day_segment.day_segment);
        // console.log(this.userSelectedInputData.special_screen_segment.special_screen);
            let postData={
                // day_segment:this.userSelectedInputData.day_segment.day_segment,
                // city_segment: this.userSelectedInputData.city_segment,
                // food_segment:this.userSelectedInputData.food_segment.food_segment,
                // rfm_segment:this.userSelectedInputData.rfm_segment,
                // promo: data.promo,
                // promo_desc: data.promo_desc,
                // promo_start_date: data.promo_start_date,
                // promo_end_date: data.promo_end_date,
                // promo_trigger_date: data.promo_trigger_date,
                "day_segment":1,
                "rfm_segment":2,
                "food_segment":"",
                "city_segment": 1,
                "special_screen": 0,
                "pax_segment": 0,
                "promo": [
                    {
                        "promo_name": "Test",
                            "promo_start_date": "2021-07-01",
                "promo_end_date": "2021-07-02",
                "promo_trigger_date": "2021-06-30"
                    },
                    {
                        "promo_name": "Test1",
                            "promo_start_date": "2021-07-01",
                "promo_end_date": "2021-07-02",
                "promo_trigger_date": "2021-06-30"
        }
    ]


                // special_screen: this.userSelectedInputData.special_screen_segment.special_screen,
                // pax_segment: this.userSelectedInputData.pax_segment,

                // city_segment: 1,
                //  rfm_segment:2,
                // pax_segment: 0,
            };
            console.log(postData);
            const url = "http://127.0.0.1:8000/get-segment-data/";
            let options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                    Authorization: "Bearer "+this.getJwt,
                },
                body: JSON.stringify(postData)
                };

            const doNetworkCall = async () => {
            try {
                console.log(options.body);
                const response = await fetch(url,options);
                if(response.status>=400){
                    console.log("error")
                }
                else{
                    const jsonData = await response.json();
                    console.log("data download",jsonData);
                }
                
                
                //this.updateJwtLogin(jsonData.access);
            } catch (error) {
                console.log(error);
            }
            };
            doNetworkCall();
            
            },
};
</script>
<style scoped>
.sizefilter{
  width: 350px;
}
</style>
