<template> 
    <v-form>
    <v-container>
      <v-row class="d-flex flex-column justify-center align-center log">
        <v-card color="yellow lighten-4" width="500"  elevation="2"
          shaped outlined>
          <v-col 
          cols="12"
          sm="6"
          md="10"
          class="ml-5">
            <v-img
          contain
          max-height="160"
          max-width="380"
          src="./paradise_new_logo.png"
        ></v-img>
          </v-col>
          <v-col
          cols="12"
          sm="6"
          md="10"
          class="ml-5"
          
        >
          <v-text-field
            :rules="[rules.required]"
            label="Username"
            hint="Enter Username"
            placeholder="Username"
            ref="username"
            v-model="username"
          ></v-text-field>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          md="10"
          class="ml-5"
        >
          <v-text-field
            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required]"
            :type="show2 ? 'text' : 'password'"
            name="input-10-2"
            label="Password"
            hint="At least 8 characters"
            placeholder="Password"
            class="input-group--focused"
            ref="password"
            v-model="password"
             @click:append="show2 = !show2"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="10" class="ml-5 d-flex flex-row justify-space-between mb-3">
            <v-btn @click="checkLogin" color="deep-orange darken-4" class="white--text">Login</v-btn>
             <v-img
            contain
            max-height="60"
            max-width="60"
            src="./ganit-logo.png"
        ></v-img>
        </v-col>
        </v-card>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
    name:"loginpage",
     data () {
      return {
        username:null,
        password:null,
        show2:false,
        jwt:"",
        rules: {
          required: value => !!value || 'Required.',
        },
      }
    },
    computed:{

    },
    methods:{
        updateJwtLogin(token){
                this.$store.dispatch('updateJwt',token);
            },
        checkLogin(){
            // console.log(this.username,this.password);
            let userDetails={
                "username":this.username,
                "password":this.password
            };
            const url = "http://127.0.0.1:8000/api/token/";
            let options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(userDetails)
                };

            const doNetworkCall = async () => {
            try {
                const response = await fetch(url,options);
                if(response.status===401){
                    console.log("enter valid username and password")
                }
                else{
                    const jsonData = await response.json();
                    this.$store.commit('updateJwt',jsonData.access);
                    this.$cookies.set("JwtToken", jsonData.access, 60 * 60 * 1, {
                      httpOnly: true,
                    })
                     this.$cookies.set("islogin", true, 60 * 60 * 1, {
                      httpOnly: true,
                    })
                    this.$router.push('/');
                }
                
                
                //this.updateJwtLogin(jsonData.access);
            } catch (error) {
                console.log(error);
            }
            };
            doNetworkCall();
            
            },
           

        }
                        
    
}
</script>
<style scoped>
.log{
    margin-top:50px;
}
</style>