<template>
  <v-app>
      <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>
<script>
// import Navbar from './components/Navbar/Navbar.vue'
// import leftNavbar from './components/LeftNavbar/leftNavbar.vue'

export default {
  name: "App",
  components:{
    // Navbar,
    // leftNavbar,
  },

  data: () => ({
    //
  }),
};
</script>
<style scoped>
*{
  box-sizing: border-box;
}
</style>
